@import "./vars.css";

html,
body,
#root {
  height: 100%; /* Ensure the app covers the entire viewport */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--col3);
  width: 100%;
  height: 100vh;
  color: white;
  font-family: var(--font-family);
}
