*,
*::before,
*::after {
  box-sizing: border-box;
}

.loginScreen {
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  max-width: 80%;
  height: 500px;
  background-color: var(--col10);
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.loginContainer h1 {
  color: var(--col3);
  position: relative;
  top: 50px;
  margin: 0;
  font-size: 45px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0px;
  height: 100%;
  margin-top: 30px;
}

.inputContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 15px;
}

.loginForm input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--col6, #ccc);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

.loginForm input:focus {
  border: 2px solid var(--col10);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 50px;
}
.loginForm button {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--col9);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.loginForm .setSignup {
  background-color: var(--col3);
  color: var(--col8);

  transition: background 0.3s, color 0.3s;
}

.loginForm button:hover {
  background-color: var(--col2);
  color: white;
}

.error {
  margin: 0px;
  padding: 0px 10px;
  color: var(--col3);
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}
