/* MessageDisplay.module.css */
.messageDisplayContainer {
  display: flex;
  flex-direction: column;
  top: 10%;
  height: 100%;
  overflow-y: auto; /* Scroll if overflow */
  padding: 10px;
  padding-bottom: 5px;
  width: 100%;
}

.messageDisplayContainer::-webkit-scrollbar {
  display: none;
}

.messageMap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: none;
  padding: none;
}

.messageMap::-webkit-scrollbar {
  display: none;
}

.noMessages {
  color: var(--col8);
}

.message {
  align-self: flex-start;
  background-color: var(--col10);
  color: var(--col3);
  border-radius: 15px;
  padding: 10px;
  padding-right: 60px;
  margin-bottom: 10px;
  max-width: 80%; /* Limit width */
  min-width: 5%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.blank {
  height: 50px;
  width: 100%;
  display: block;
  margin-top: 50px;
}

.fileList {
  list-style-type: none;
  padding: 0;
}

.fileItem {
  background-color: var(--col2);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.downloadLabel {
  background-color: var(--col3);
  color: var(--col8);
  padding: 8px 15px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  text-align: center;
  display: inline-block;
}
.downloadLabel:hover {
  background-color: var(--col3);
  transform: scale(1.025);
}

@media (max-width: 600px) {
  .messageDisplayContainer {
    position: fixed;
  }
  .blank {
    margin-top: 100px;
  }
}

@media (max-width: 450px) {
  .messageDisplayContainer {
    position: fixed;
  }
  .blank {
    margin-top: 150px;
  }
}
