.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--col8);
  width: 100%;
  z-index: 1000; /* Stacks it on top of other elements */
  top: 0;
  left: 0;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.logo {
  font-size: 24px;
  margin: 0px;
  padding: 20px;
  color: var(--col3);
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
}

.navLinks {
  margin: 0px;
  padding: 20px;
}

.navLinks li {
  padding: 0px 10px;
  margin: 0px;
}

.navLinks li:hover {
  background-color: var(--col9);
}

.navLinks a {
  margin: 0px;
  color: var(--col3);
  text-decoration: none;
}

.loginBtn {
  background-color: var(--col9);
  border: none;
  font-family: "Roboto mono";
  color: var(--col3);
  padding: 10px 15px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
  }
}
