.textInputContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  bottom: 5px;
  background-color: var(--col3);
  margin: 0px;
  height: 15%;
  width: 100%;
  background-color: transparent;
  padding-bottom: 5px;
}

.inputForm {
  display: flex;
  align-items: center;
  width: 93%;
  padding: 0px 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 90%;
  max-height: 80px;
  background-color: var(--col6);
}

.textArea {
  width: 100%;
  height: 70%; /* Shorten height for a cleaner look */
  padding: 10px;
  border: 1px solid var(--col5);
  border-radius: 13px; /* Round corners */
  resize: none; /* Prevent resizing */
  outline: none; /* Remove outline on focus */
  margin-right: 10px; /* Space between textarea and button */
  font-size: 14px; /* Font size adjustment */
  overflow: hidden;
  background-color: var(--col3);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
}

.sendBtn {
  background-color: var(--col9);
  border: none;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Same as width */
  border-radius: 50%; /* Makes it a perfect circle */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendBtn:hover {
  background-color: var(--col1); /* Darker shade on hover */
}

.fileInput {
  display: none; /* Hide the native input */
}

.customFileInput {
  background-color: var(--col5);
  width: 50px; /* Same width and height for a circular shape */
  height: 50px;
  border-radius: 50%; /* Perfect circle */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease-in-out,
    box-shadow 0.2s;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.customFileInput:hover {
  background-color: var(--col10);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.customFileInput:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.uploadIcon {
  width: 20px;
  margin: 0px 20px;
}

.sendIcon {
  width: 25px;
  margin: 0px 20px;
}

.currentFile {
  display: inline-block;
  background-color: var(--col1); /* Light background */
  color: var(--col3); /* Text color */
  padding: 8px 15px;
  border-radius: 20px; /* Rounded corners */
  font-size: 14px;
  font-weight: 500;
  text-decoration: none; /* No underline */
  overflow: hidden;
  text-overflow: ellipsis; /* Ellipsis for long file names */
  max-width: 100px; /* Limit width to avoid overflow */
  max-height: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s ease, transform 0.2s;
  margin: 10px;
  margin-left: 0px;
}
