:root {
  --col1: #354a92;
  --col2: #a7d5ea;
  --col3: #f8f6f4;
  --col4: #f3f4f4;
  --col5: #689cba;
  --col6: #a7d5ea;
  --col7: #db5346;
  --col8: #221f48;
  --col9: #be9c7e;
  --col10: #545d87;
  --font-family: "Roboto mono", sans-serif;
}
