:root {
  --primary-color: #264a7d;
  --secondary-color: #d6b395;
  --background-color: #33b2e2;
  --text-color: #f3f4f4;
  --head-text-color: #f3f4f4;
  --misc-color: #2365a7;
  --font-family: "Roboto mono", sans-serif;
}
